* {
   /* border: 1px solid red;*/
    font-family: "Work Sans";

  }
  header{
    width: 100%;
    color: white;
  }

  
#nav-shopcart {
    color: white;
}

  #game-instruction h1 {
    width: 400px;
    border: 5px solid white;
    color: white;
    font-size: 1.8rem;
    padding: 0.7rem;
    border-radius: 0.9rem;
    background-color: rgba(52, 4, 4, 0.299);
}

  #game-background {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 1300px;
    width: 100%;
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/empty-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
  
  color: white;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
  }

  #game-container {
    position: fixed;
    top: 440px;
    height: 420px;
    width: 650px;
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/magic-cauldron.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 70%;
   
  }

.cauldron-zone{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

  #game-instruction{
    height: 100px;
    position: fixed;
    top: 70px;
  }
#controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.9rem;
    background-color: rgba(52, 4, 52, 0.356);
    padding: 5px;
}

#coins-icon{
    display: flex;
    align-items: center;
}
#coins-icon img{
    width: 30px;
    height: 30px;
}

#timer, #message, #cauldron-status, #cauldron-text{
    margin: 0.3rem;
}
#controls button:hover, #reset-button:hover{
    background-color: rgba(103, 230, 141, 0.895);
}
#controls button:active, #reset-button:active{
    background-color: rgba(99, 185, 125, 0.952);
}
#controls button:disabled, #reset-button:disabled {
    background-color: rgba(200, 200, 200, 0.5); /* Adjust the color as needed */
    cursor: not-allowed; /* Change the cursor to indicate the button is not clickable */
}

#cauldron-status{
text-align: center;
}

#controls button{
    margin: 0.5rem;
    width: 150px;
    height: 2rem;
    font-family: "Work Sans";
    background-color: rgba(176, 229, 192, 0.89);
    border-radius: 20px;
    border: none; 
} 
#reset-button{
    margin-top: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button */
    width: 110px;
    height: 1.5rem;
    font-family: "Work Sans";
    background-color: rgba(176, 229, 192, 0.89);
    border-radius: 20px;
    border: none; 
} 
  #outer-dropzone {
    height: 250px;
    width: 410px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    align-items: center;

  }
  
  #inner-dropzone {
    width: 250px;
    height: 175px;
    border: 1px solid transparent;
    border-radius: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    filter: blur(15px); 
    margin-bottom: 60px;

  }
  
  .dropzone {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 80%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: transparent;
    border: none;
  }
  
  .drop-target {
    background-color: rgba(255, 213, 0, 0.274);
    border-color: transparent;
    border-style: none;
    
  }
  
  .drag-drop {
    display: inline-block;
    width: 60px;
    height: 60px;
    
    color: transparent;
    background-color: transparent;
    border: solid 3px transparent;
    touch-action: none;

    
}

#ingredient2-0, #ingredient2-1, #ingredient2-2{
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/mushroom.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}

#ingredient3-0, #ingredient3-1, #ingredient3-2{
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/berry.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}

#ingredient1-0, #ingredient1-1, #ingredient1-2{
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/Herb.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}
  
  .drag-drop.can-drop {
    color: transparent;
    background-color: transparent
  }
  
.hidden{
    display: none;
}  

/* Animate coins */
.coin {
    width: 35px;
    height: 35px;
    position: relative;
    margin: 2px;
}

#coin1 {
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/coin.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}

#coin2 {
    background-image: url("https://raw.githubusercontent.com/sukichn/sukichn.github.io/refs/heads/main/Resources/css/Images/coin.png");
    background-position: center;
    background-repeat: none;
    background-size: 100%;
}

.animate-coin1 {
    animation-name: coin1Animation;
    animation-duration: 600ms;  
    animation-delay: 0;
    animation-fill-mode: forwards;
}

.animate-coin2 {
    animation-name: coin2Animation;
    animation-duration: 600ms;  
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

@keyframes coin1Animation {
    from {top: 50px; background-color: transparent;}
    to {top: 0px; background-color: transparent;}
}

@keyframes coin2Animation {
    from {left: 10px; top: 40px; background-color: transparent;}
    to {top: 0px; background-color: transparent;}
}

/* Media query for screen sizes */
@media (max-width: 481px) {
    h1{
        display: none;
    }
    #game-background {
        font-size: 0.9rem;
    }
    #game-container{
        top: 280px;
        width: 350px;
        background-size: 120%;
    }
    #outer-dropzone{
        width: 350px;
        height: 230px;
    }
    .drag-drop{
        width: 50px;
        height: 50px;
    }
    #reset-button{
        margin-top: 0px;
    }
    #inner-dropzone{
        border-radius: 40px;
    }
}
