

/* SUBTITLE TEXT*/
#game-instruction.content h5 {
   
    color: black;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
}

@media (max-width: 768px) {
    #game-instruction.content h5 {
    font-size: 0.8rem; 
    }
    #game-instruction.content h1 {
    font-size: 1.5rem;
    }
}

/* GAME AREA */

#game-container {
    font-family: 'Work Sans';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    #game-container{
        font-size: 0.8rem;
    }
}

#controls button{
    margin: 0.5rem;
    width: 200px;
    height: 2rem;
    font-family: "Work Sans";
    background-color: rgba(176, 229, 192, 0.89);
    border-radius: 20px;
    border: none; 
}

#controls button:hover{
    background-color: rgba(99, 185, 125, 0.313);
}
#controls button:active{
    background-color: rgba(99, 185, 125, 0.443);
}

#message{
    margin-bottom: 0.5rem;
    margin-top: 0;
}

#cauldron-text{
    margin-top  : 1rem;
}

#chopping-frame {
    background-image: url("https://th.bing.com/th/id/R.1016f0a653f82a2a5ebca0b2fb5dcc2a?rik=7gt7Y7Pk5LOLOQ&riu=http%3a%2f%2fst.depositphotos.com%2f1548395%2f4251%2fi%2f450%2fdepositphotos_42511977-stock-photo-cartoon-image-of-fruit-basket.jpg&ehk=1SYrhyyjQviCW%2b4RjcxDAQTPkMnKEPD%2fqs4MPmzcZxo%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 330px;
    height: 330px;
    opacity: 0.9;
   
  }

#chopping-board {
    width: 200px;
    height: 200px;
    margin-top: 3.5rem;
    display: inline-block;
    vertical-align: center;
   
  }


#cauldron {
    width: 400px;
    height: 100px;
    margin-top: 35px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;

}

#frame {
    background-image: url("https://tse2.mm.bing.net/th/id/OIP.z2Kfox8zS1s7FO_NYJ1tuwHaIT?rs=1&pid=ImgDetMain");
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
  }

  @media (max-width: 768px) {
    #frame {
      background-size: 70%; /* Adjust background size for small screens */
    }
    #cauldron{
        margin-top: 65px;
    }
  }

#cauldron-ingredients{
    opacity: 1;
}
  .ingredient {
    width: 50px;
    height: 50px;
    margin: 0;
    cursor: move;
  }

  .hidden {
    display: none;
  }