/*test change*/
html{
    font-size: 18px;
}


h1, h3 {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: normal;
}

h4 {
    font-family: "Merriweather";
    font-size: 1.15rem;
    font-style: italic;
    text-align: center;
}

button{
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/* NAVIGATION BAR */
header {
    background-color:  white;
    margin-top: 3px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: sticky;
    top: 0; /* Initially at the top of the page */
    z-index: 1;
    font-family: "Work Sans";
    /*border: 5px solid red;*/
    box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
      
}
@media (max-width: 768px) {
    header{
        font-size: 0.8rem; 
    }
}

.nav-links{
    border: 7px solid white;
    width: 331%;
    display: flex;
    align-items: baseline;
    z-index: 10;
}

.nav-shopcart {
    /*border: 2px solid red;*/
    max-width: 50%; /* Restrict the maximum width to 33% of the header */
    text-align: right;
    flex: 1; /* Allow the element to grow within the flex container */
    box-sizing: border-box; /* Include border and padding in the element's total width */
  }

.nav-logo {
   /*border: 2px solid red;*/
    width: 33%;
    display: flex; /* Enable flexbox for centering */
    justify-content: center;
  }
  
  .nav-shopcart {
    text-align: right; /* Align the content to the right within the container */
    white-space: nowrap; /* Prevent the content from wrapping to the next line */
    align-items: baseline;
    z-index: 0;
  }

/* Spacing navigation links */
.nav-links a{
    text-align: left;
    /*border: 2px solid red; */
    margin-right: 2rem;
    margin-left: 4px;
}
@media (max-width: 768px) {
    .nav-links a{
        margin-right: 0.5rem; 
    }
}



.products{
    /*border: 2px solid red;*/
    margin-right: 2rem;

  }

.nav-links .home:hover, .game:hover, .contact:hover, .dropbtn:hover{
    color:  rgba(54, 84, 63, 0.8);
}

/* DROPDOWN FOR PRODUCTS */
.dropdown-content{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 3px;
    line-height: 2rem;
    font-size: 0.8rem;
    top:-150px;
    position: absolute;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

button.dropbtn{
    border:none;
    font-family: "Work Sans";
    background-color: white;
    font-size: 1rem;
    width: auto;
}

@media(max-width: 768px){
    button.dropbtn{
        font-size: 0.8rem;
        width: 2.5rem;
    }
}


.products:hover .dropdown-content{
    display: flex;
    top: 1.7rem;
    transition-duration: 200ms;
}

/* HERO SECTION */
#banner {
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/387/936/large_2x/fantasy-magical-enchanted-fairy-tale-landscape-fabulous-fairytale-garden-mysterious-background-and-glowing-in-night-magical-fantasy-fairy-tale-scenery-night-in-a-forest-generate-ai-free-photo.jpg");
    background-size: cover;
    background-position: middle center;
    height: 495px;
    width: 100%;
    opacity: 1;
}

/* TITLE */

#banner.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#banner.content h1 {
    width: 50%;
    margin: 2rem 0 0 0;
    border: 5px solid white;
    color: white;
    font-size: 2rem;
    padding: 0.7rem;
    border-radius: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
}

/* SUBTITLE TEXT*/
#banner.content h5 {
    margin: 0 15rem;
    color: white;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
}

/* RANDOM FORTUNE */
#fortune{
    font-family: "Merriweather";
    color: white;
    font-size: 1.1rem;
    text-align: center;
    font-style: italic;
    margin: 0 1rem 1rem 1rem;
}



/* SHOP SECTION HEADERS */
.magic-items-header, .potions-header, #lottery-header {
    font-size: 1.2rem;
    color: white;
    margin-top: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.potions-header, #lottery-header {
    background-color: rgba(54, 84, 63, 0.8);
}

.magic-items-header {
    background-color: hsla(240, 91%, 23%, 0.4);
}

.potions-text {
    color: rgb(22, 52, 16);
}

.magic-items-text {
    color: hsla(240, 64%, 14%, 0.749);
}

/* SHOP ITEMS */

    .container {
        display: flex;
        align-items: center;
        min-height: 125px;
        justify-content: center;
        flex-wrap: wrap;
      }
      
      .box {
        position: relative; /* Required for absolute positioning */
        border: 2px solid transparent;
        width: 300px;
        height: 300px;
        text-align: center;
        display: flex; /* Enable flexbox for centering */
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        transition: transform 0.3s ease;
      }
              
      .box img{
        width: 11.11rem;
        height: auto;
        padding-top: 1rem;
        transition: transform 0.3s ease;
      }
      
      .box p{
        font-size: 1em;
        font-family: "Work Sans";
        margin-top: 0;
        margin-bottom: 0.3rem;
      }

      /* SHOP ITEM DESCRIPTION */
      .box .text-overlay{
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 0.7rem;
        font-style: italic;
        bottom: 2%;
        margin: 0 1rem;
        
    }

    .box.potions:hover{
        background-color: rgba(54, 84, 63, 0.443);
        border: 2px solid #f1dd9d;
        border-radius: 5px;
        transform: scale(1.02);
    }

    .box.magic-items:hover{
        background-color: hsla(240, 91%, 23%, 0.244);
        border: 2px solid #f1dd9d;
        border-radius: 5px;
        transform: scale(1.02);
    }

    .box:hover .text-overlay{
        opacity: 1;
    }

/* RANDOM POTION GENERATOR */
#potion-generator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#fortuneMessage {
    font-family: "Merriweather";
    font-style: italic;
}

#potion-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.potion-container {
    position: relative; /* Establish a containing block for absolutely positioned elements */
    width: 200px; /* Set the width to 200px */
    height: 200px; /* Set the height to 200px */
    margin: 10px;
    border: 2px solid #f1dd9d;
    background-color: rgba(236, 227, 103, 0.315);
    border-radius: 5px;
    overflow: hidden; /* Ensure overflow is hidden */
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

.potion-image {
    position: absolute; /* Position the image absolutely within the container */
    width: 100%; /* Ensure the image covers the container */
    height: 100%; /* Ensure the image covers the container */
    top: 0; /* Start position for scrolling */
    left: 0; /* Ensure the image is aligned within the container */
    
}

#fortuneButton {
    display: block;
    margin: 20px auto;
}

@keyframes scroll {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}

.scrolling {
    animation: scroll 0.2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
#tryCountDisplay {
    font-family: "Work Sans";
    align-self: center;
}
#potion-generator button{
    margin-top: 1rem;
    width: 200px;
    height: 2rem;
    font-family: "Work Sans";
    background-color: rgba(99, 185, 125, 0.443);
    border-radius: 20px;
    border: none; 
}
#potion-generator button:hover{
    background-color: rgba(99, 185, 125, 0.313);
}
#potion-generator button:active{
    background-color: rgba(99, 185, 125, 0.443);
}

/* Potion image size for smaller screens*/
@media (max-width: 768px) {
    .potion-container, .potion-image {
        width: 130px; 
        height: 130px; 
    }
}

/* SOCIAL MEDIA ICONS */
#social{
    display: flex;
    justify-content: center;
}   

#social .fa{
    padding: 1rem;
}

/*PAGE FOOTER*/
footer {
    width: 100%;
    background-color:rgba(54, 84, 63, 0.8);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Merriweather";
    font-weight: lighter;
    font-size: small;
}

/* MEDIA QUERY CONDITIONS */
@media (max-width: 768px) {
    #banner.content h1 {
        font-size: 1.2rem; 
    }
    #banner.content h5 {
        font-size: 0.775rem; 
    }
    #fortune {
        font-size: 0.775rem; 
    };
}

@media (max-width: 1279px) {
    #banner.content h5 {
        margin: 0 1.5rem; 
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    h4 {
        font-size: 0.825rem; 
    }
    #fortuneMessage {
        font-size: 0.825rem; 
    }
}

@media (max-width: 768px) {
    #magic-items-header, #potions-header {
        height: 80%; 
    }
}