html{
    font-size: 18px;
}


h1, h3 {
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: normal;
}

h4 {
    font-family: "Merriweather";
    font-size: 1.15rem;
    font-style: italic;
    text-align: center;
}

a.no-underline {
    text-decoration: none;
    color: inherit;
}

nav {
    background-color: white;
    position: sticky;
    top: 0; /* Initially at the top of the page */
    z-index: 1;
    width: 100%; /* Extend the background across the page */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-flex; /* Display list items horizontally */
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 1rem;
    font-family: "Work Sans";
    font-size: 0.95rem;
    padding: 0.9rem 1.2rem;
}

#banner {
    background-image: url("https://static.vecteezy.com/system/resources/previews/024/387/936/large_2x/fantasy-magical-enchanted-fairy-tale-landscape-fabulous-fairytale-garden-mysterious-background-and-glowing-in-night-magical-fantasy-fairy-tale-scenery-night-in-a-forest-generate-ai-free-photo.jpg");
    background-size: cover;
    background-position: middle center;
    height: 495px;
    width: 100%;
    opacity: 1;
}

#banner.content h1 {
    position: relative;
    top: 50px;
    width: 50%;
    margin: 0 auto;
    border: 5px solid white;
    color: white;
    font-size: 2rem;
    padding: 1.1rem;
    border-radius: 0.9rem;
    background-color: rgba(255, 255, 255, 0.1);
}

#banner.content h5 {
    position: relative;
    top: 80px;
    width: 72%;
    margin: auto;
    color: white;
    font-family: "Merriweather";
    font-style: italic;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.5;
}

footer {
    width: 100%;
    background-color:rgba(54, 84, 63, 0.8);
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Merriweather";
    font-weight: lighter;
    font-size: small;
}

#magic-items-header, #potions-header {
    font-size: 1.2rem;
    color: white;
    margin-top: 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#potions-header {
    background-color: rgba(54, 84, 63, 0.8);
}

#magic-items-header {
    background-color: hsla(240, 91%, 23%, 0.4);
}

#potions-text {
    color: rgb(22, 52, 16);
}

#magic-items-text {
    color: hsla(240, 64%, 14%, 0.749);
}

#shopboard ul {
    padding: 0;
    }
#shopboard {
    text-align: center; /* Center the text content within the shopboard */
    margin: 0 auto; /* Center the shopboard horizontally within its container */
    }

.card, .magic-items-card {
    border: 2px solid transparent;
    position: relative;
    display: inline-block;
    height: 300px;
    margin-top: 0px;
    padding: 0px;
    width: 16.67rem;
    background-color: white;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    font-family: "Work Sans";
    text-align: center;
}

.card p, .magic-items-card p{
    margin-top: 0.2rem;
}

.card:hover {
    background-color: rgba(54, 84, 63, 0.443);
    border: 2px solid #f1dd9d;
}

.magic-items-card:hover {
    background-color: hsla(240, 91%, 23%, 0.244);
    border-color: #f1dd9d;
}

.card img {
    margin-top: 1rem;
    width: 11.11rem;
    height: auto;
}

.magic-items-card img {
    margin-top: 1rem;
    width: 11.11rem;
    height: auto;
    
}

.text-overlay {
    position: absolute;
    margin-top: 0.5rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 0.7rem;
    font-style: italic;
    padding: 15px;
}

.card:hover .text-overlay, .magic-items-card:hover .text-overlay{
    opacity: 1;
}

/* Adjust font size for narrower screens */
@media (max-width: 768px) {
    nav li {
        font-size: 0.775rem;
        line-height: 70%; 
    }
}

@media (max-width: 768px) {
    #banner.content h5 {
        font-size: 0.775rem; 
    }
}
@media (max-width: 768px) {
    #banner.content h1 {
        font-size: 1.7rem; 
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 1rem;
    }
}
@media (max-width: 768px) {
    h4 {
        font-size: 0.825rem; 
    }
}

@media (max-width: 768px) {
    #magic-items-header, #potions-header {
        height: 80%; 
    }
}

/* Common design pattern to scale images and videos proportionally:
.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}*/